
@{
    ViewBag.Title = "Activation Account ^_^";
}

<h2>Activation Account</h2>

@if(ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
{
    <div class="alert alert-success">
        <strong>Success!</strong>  Your account has been activated successfully.
    </div>
}
else
{
    <div class="alert alert-danger">
        <strong>Error!</strong>@ViewBag.Message
    </div>
}

